<div layout="row">
  <div class="container" layout="row" height="100">
      <div class="col-md-6" ui-ace="{
          useWrapMode : true,
          showGutter: true,
          theme:'monokai',
          mode: 'xml',
          firstLineNumber: 1,
          onLoad: aceLoaded,
          onChange: aceChanged
      }" ng-model="theCode">Your code here</div>

      <div>
        Video chat goes here
        <div class="col-md-6" id="subscriber"></div>
        <div ng-hide="true" id="publisher"></div>

        <div class="panel panel-default">
          <div class="panel-body">Problem goes here</div>
        </div>
      </div>
  </div>

  <!-- <div flex>
      <button class="btn btn-primary" ng-click="disconnect()">Disconnect</button>
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
  </div> -->


</div>
