<div ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">

                <md-button ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()" aria-label="{{item.label}}" ui-sref-active="active" ui-sref="{{ item.state }}">
                    <i class="material-icons">{{item.icon}}</i>
                    {{ item.label }}
                </md-button>

                <span flex></span>

                <md-button aria-label="Signup" ng-show="!user" ui-sref="signup">
                    Signup
                </md-button>
                <md-button aria-label="Login" ng-show="!user" ui-sref="login">
                    Login
                </md-button>

                <md-menu ng-show="user">
                    <md-button aria-label="Open user interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="material-icons" >account_box</i>
                        {{user.username}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                <i class="material-icons">account_circle</i>
                                Profile page
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <i class="material-icons">close</i>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </md-content>
</div>
