#home {
    text-align: center;


    #header {
        width: 100%;
        background-color: #006064;
        color: white;
        font-size: 5vw;
        margin-top: 0;
        font-weight: bold;

        i {
            font-size: 5vw;
            vertical-align: middle;
        }
    }

    img {
        width: 60%;
        height: auto;
        margin-top: 20px;

    }



}
