#notificationsPage {
  background-image: url("/images/mailbox.jpg");
  height: 100%;
  width: 100%;
  background-size: 1300px;
  background-position: 0% 20%;

    #notificationsList {
        background-color: transparent;
        border-radius: 10px;

        .notificationIcon {
            color: #01579b;
        }

    }

    #notificationsIcon {
      background-color: white;
      box-shadow: 5px 5px 10px black;
      height: 60px;
      width: 100px;
      margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
    }

    #acceptBtn {
        background-color: #259b24;
        color: #ffffff;
        min-width: 10px
    }

    #deleteBtn {
        background-color: #d31e02;
        color: #ffffff;
        min-width: 10px
    }


    md-dialog {
        md-input-container {
            width: 100%;
        }
    }
}
