#workspaceMain {
    md-content {
        background-color: transparent;
    }

    #workspaceToolbar {
        background-color: #01579b;
        border-radius: 10px;

        #inviteFriend {
            min-width: 10px
        }

        #requestHelp {
            min-width: 10px
        }

        #saveBtn {
            background-color: #259b24;
            color: white;
        }

        #infoBtn {
            background-color: #29b6f6;
            color: white;
            min-width: 10px
        }

        #deleteBtn {
            background-color: #d31e02;
            color: white;
            min-width: 10px
        }
    }

    #textEditorSection {
        margin: 10px;

        #textEditor {
            height: 60vh;
        }

    }

    #runCode {
        background-color: #259b24;
    }

    #codeResult {
        background-color: #dddddd;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    #collaborationSection {
        background-color: #ffffff;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
}
