<section id="workspace" ng-cloak>
    <div layout="row" layout-align="center center" layout-padding ng-cloak>
        <div>
            <md-button id="addWorkspace" class="md-raised md-primary" ng-click="createWorkspace($event)">
                <i class="material-icons">add_circle_outline</i>
                <span> New workspace</span>
            </md-button>
        </div>
    </div>
    <md-content id="existingWorkspaces" flex-gt-sm="100" flex="100">
        <h2 ng-if="!workspaces.length">No existing workspaces - create a new workspace</h2>
        <md-grid-list ng-cloak ng-if="workspaces.length" md-cols-gt-sm="3" md-cols-sm="2" md-cols-xs="1" md-gutter="12px" md-row-height="1:1">
            <md-grid-tile ng-repeat="workspace in workspaces" ng-class="{'createdByUser': user._id === workspace.creator._id, 'createdByAnother': user._id !== workspace.creator._id}">
                <md-grid-tile-header ng-click="goToWorkspace(workspace)" >
                    <h2 class="md-subhead">
                      {{ workspace.name }}
                    </h2>
                </md-grid-tile-header>
                <div layout="column">
                    <i class="material-icons">video_label</i>
                    <p class="dates md-caption" flex>Created: {{ workspace.dateCreated | date }}</p>
                    <p class="dates md-caption" flex>Modified: {{ workspace.dateLastModified | date }}</p>
                </div>
                <md-grid-tile-footer>
                    <span>Creator: {{workspace.creator.username}}</span>
                    <span ng-if="workspace.collaborator && workspace.creator.username === user.username"> || Collaborator: {{workspace.collaborator.username}}</span>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</section>
<!-- <md-list ng-cloak ng-if="workspaces.length">
    <md-list-item flex ng-repeat="workspace in workspaces" ui-sref="workspaceMain({workspaceId: workspace._id})">
        <div class="md-list-item-text" layout="column">
            <h2 class="md-subhead"><i class="material-icons" ng-class="{'createdByUser': user._id === workspace.creator._id, 'createdByAnother': user._id !== workspace.creator._id}">work</i>
                {{ workspace.name }}
              </h2>
            <p class="collaborator" ng-if="workspace.collaborator && workspace.creator.username === user.username">Collaborator: {{workspace.collaborator.username}}</p>
            <p class="collaborator" ng-if="workspace.collaborator && workspace.collaborator.username === user.username">Creator: {{workspace.creator.username}}</p>
            <p class="dates md-caption">Created: {{ workspace.dateCreated | date }} </p>
            <p class="dates md-caption">Modified: {{ workspace.dateLastModified | date }}</p>
        </div>
    </md-list-item>
</md-list> -->
