<div class="container" layout="column" layout-padding ng-cloak>
    <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && createUser(signup)">
        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>
        <md-content class="autoScroll">
            <h2>Signup</h2>
            <md-input-container class="md-block">
                <input ng-model="signup.email" type="email" placeholder="Email" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="signup.username" type="text" placeholder="Username" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="signup.passwordA" type="password" placeholder="Password" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="signup.passwordB" type="password" placeholder="Re-enter your password" ng-required="true">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary pull-right">Submit</md-button>
        </md-content>
    </form>
</div>
