<form id="login-form" name="signupForm">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="username">Create a username</label>
        <input type="username" ng-model="signup.username" class="form-control" id="signup-username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="firstName" ng-model="signup.firstName" class="form-control" id="signup-firstName" placeholder="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="lastName" ng-model="signup.lastName" class="form-control" id="signup-lastName" placeholder="lastName">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.passwordA" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="signup-password">Re-enter your password</label>
        <input type="password" ng-model="signup.passwordB" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <button type="button" class="btn btn-danger" ng-show="incongruentPasswords">Your passwords are different!</button>
    <button type="submit" class="btn btn-default" ng-click="createUser(signup)">Submit</button>
</form>
