#workspace {
  background-image: url("/images/workspace.png");
  height: 100%;
  width: 100%;
  background-position: -1% 0%;
  // background-size: 4000px;

    #addWorkspace {
        background-color: #42bd41;
        padding: 10px;
        margin: 10px;
    }

    #existingWorkspaces {
        max-width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .createdByUser {
            color: #259b24;
        }
        .createdByAnother {
            color: #01579b;
        }
        .dates {
            color: #aaaaaa;
            font-style: italic;
        }
        .collaborator {
            color: #aaaaaa;
            font-style: italic;
        }
        p {
            height: 18px;
        }
    }

    md-dialog {
        md-input-container {
            width: 100%;
        }
    }
}

.workspaceList {
  display: flex;
  flex-direction: row;
}
