#workspace {
  height: 100%;
  width: 100%;
  background-color: #eee;
  #addWorkspace {
    background-color: #42bd41;
    padding: 10px;
    margin: 10px;
  }
  #existingWorkspaces {
    background-color: transparent;

    figcaption {
      width: 100%;
    }
    h2, p {
      margin: 0;
      text-align: center;
    }

    i {
      font-size: 100px;
      color: #ffffff;
    }

    .dates {
      color: #ffffff;
    }

    .createdByUser {
      background: #01579b;
    }
    .createdByAnother {
      background: #006064;
    }

    md-grid-list {
      margin: 20px;
      margin-left: 10%;
      margin-right: 10%;
      background-color: transparent;
      text-align: center;

    }

    md-grid-tile {
      transition: all 400ms ease-out 50ms;
    }


  }


  md-dialog {
    md-input-container {
      width: 100%;
    }
  }
}
