#problems {
    .title {
        text-align: center;
    }

    i {
        vertical-align: middle;
    }

    #problemContainer {
        width: 100%;
    }

    .intOrSolveBtn {
        background-color: #039be5;
    }

}
