<section id="videoSection">
    <md-button class="videoBtn md-raised md-primary" ng-if="!madeOffer" ng-click="startVideo()">
        <i class="material-icons">play_arrow</i> Start video chat
    </md-button>
    <div ng-if="madeOffer && !receivedOffer && !offerAccepted" layout="row">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <p class="waiting">Waiting...</p>
    </div>
    <md-button class="videoBtn md-raised md-primary" ng-if="receivedOffer && !acceptedOffer" ng-click="acceptVideoRequest()">
        <i class="material-icons">play_arrow</i>Accept video chat
    </md-button>
    <div id="videoFeed">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <md-button id="stopVideoChat" class="md-raised md-primary" ng-if="videoChatLive" ng-click="stopVideoChat()">
        <i class="material-icons">stop</i>Stop video chat
    </md-button>
</section>

