<md-content ng-repeat="problem in problems" style="margin: 50px;">
  <md-list>
    <div>
      <md-subheader><h2>{{problem.title}}</h2></md-subheader>
      <md-divider></md-divider>
      <md-list-item>
        <div class="md-list-item-text" layout="column">
          <h3>{{problem.description}}</h3>
          <h4>Difficulty: {{problem.difficulty}}/5</h4>
        </div>
        <friend-or-random int-or-solve="interview" problem-id="{{problem._id}}"></friend-or-random>
        <friend-or-random int-or-solve="solve" problem-id="{{problem._id}}"></friend-or-random>
        <!-- <md-divider ng-if="!$last"></md-divider> -->
      </div>
    </md-list-item>
  </md-list>
</md-content>
<md-button class="md-raised md-primary submit-problem" ui-sref="createProblem">Submit a new problem</md-button>
