* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
    // background-image: url("/images/coding.jpg");

.col-1-3 {
  // width: 30%;
  margin: 10px;
  height: 300px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
  background-image: url("/images/coding.jpg");
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'icons/main';
@import 'interview/main';
@import 'workspace/main';
@import 'workspace-main/main';
@import 'invite-friend/main';
@import 'notifications/main';
@import 'ebb-workspace-toolbar/main';
@import 'ebb-text-editor/main';
@import 'video-chat/main';
@import 'friends-page/main';
