* {
  box-sizing: border-box;
}

body {
  background: #E3F2FD;
}

#problem-list {
  background-image: url("/images/solve.jpg");
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 30%;
  margin: 10px;
  height: 300px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
  background-image: url("/images/coding.jpg");
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.submit-problem {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

#main {
  // padding-top: 0px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'icons/main';
@import 'interview/main';
@import 'workspace/main';
@import 'workspace-main/main';
@import 'invite-friend/main';
@import 'notifications/main';
@import 'ebb-workspace-toolbar/main';
@import 'ebb-text-editor/main';
@import 'video-chat/main';
@import 'friends-page/main';
