* {
  box-sizing: border-box;
}

body {
  background: #80d8ff;
}

#ace-interviewer {
  width: 50%;
  height: 50%;
}

#ace-interviewee {
  width: 50%;
  height: 50%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#matching-selector {
  background-color: #555555;
}

#main {
  display: flex;
  padding-top: 20px;
  margin: 0 auto;
  flex-direction: column;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'ui-ace/main';
@import 'icons/main';
@import 'interview/main';
